<div class="mt-9">
  <div class="bord border-b-2 border-blue" style="border-bottom-width: 1px;">
      <div class="flex justify-between">
        <div class="py-3">
            Ilość zrobionych ćwiczeń z programu treningowego:
        </div>
        <div class="w-1/6 border-l-2 border-blue text-center py-3" style="border-left-width: 1px;">
            {{trainingProgramExercisesCount}}
        </div>
      </div>
  </div>
  <div class="bord border-b-2 border-blue" style="border-bottom-width: 1px;">
      <div class="flex justify-between">
        <div class="py-3">
            Ilość zrobionych treningów dodatkowych z kursów:
        </div>
        <div class="w-1/6 border-l-2 border-blue text-center py-3" style="border-left-width: 1px;">
            {{otherExercisesCount}}
        </div>
      </div>
  </div>
  <div>
      <div class="flex justify-between">
        <div class="py-3">
            Łączny czas spędzony w aplikacji:
        </div>
        <div class="w-1/6 border-l-2 border-blue text-center py-3" style="border-left-width: 1px;">
            {{timeSpent}} min
        </div>
      </div>
  </div>
</div>